.Cart h1 {
  font-family: "Roboto";
  margin: 30px auto;
  font-size: x-large;
  font-weight: normal;
}

.Cart table {
  font-family: "Roboto";
  width: 80vw;
  table-layout: fixed;
}

.Cart th {
  padding: 10px 0;
  font-size: 1rem;
  color: #969696;
  text-transform: uppercase;
  font-weight: normal;
}

.Cart th:first-of-type {
  text-align: left;
}

.Cart th,
.Cart tr {
  border-bottom: 1px solid #c8c8c8;
}

.Cart tr:last-of-type {
  border-bottom: 0px;
}

.Cart td {
  padding: 1em;
  vertical-align: middle;
}

.Cart .TotalCost {
  font-size: 1rem;
  color: #969696;
  text-transform: uppercase;
  font-weight: normal;
  padding: 2em;
  border-bottom: 0px;
}

.Cart .TotalCost td:last-of-type {
  padding: 2.5em;
  color: black;
}

.Cart .CheckOutBtn {
  font-family: "Roboto";
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  background: #00e1f5;
  border: #e6e6e6 1px solid;
  cursor: pointer;
  letter-spacing: 0.05em;
}
