.SizeSelector {
  cursor: pointer;
  border: 1px solid #c8c8c8;
  padding: 5px;
  outline: none;
}

.QuantityBtn {
  background: #00e1f5;
  cursor: pointer;
  border: #c8c8c8 1px solid;
  padding: 5px 10px;
  outline: none;
}

.QuantityInput {
  width: 25px;
  padding: 5px;
  border: 1px solid #c8c8c8;
  border-left: 0px;
  border-right: 0px;
  text-align: center;
  outline: none;
}

.ProductImage {
  width: 80px;
}

.RemoveBtn:hover {
  color: lightblue;
  cursor: pointer;
}
