.Header {
  display: inline-block;
  width: 100vw;
  border-bottom: 1px solid rgb(211, 211, 211);
  font-family: "Roboto";
}

.Header ul {
  float: right;
  margin: 20px;
}

.Header ul li {
  display: inline-block;
  margin: auto 15px;
}

.Logo {
  width: 150px;
  height: 57px;
  float: left;
  margin: auto 7vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../logo.JPG);
}

.Header a {
  font-family: "Roboto";
  text-decoration: none;
  color: black;
}

.Header a:hover {
  color: #00e1f5;
}
